@using WebApplication6.Models
@model SearchResultsViewModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container" style="margin-top: 40px;">
    <form action="/northwind/searchresults">
        <div class="row">
            <div class="col-3 offset-md-2">
                <input value="@Model.MinStock" type="text" class="form-control" name="minStock" placeholder="Min Stock" />
            </div>
            <div class="col-3">
                <input value="@Model.MaxStock" type="text" class="form-control" name="maxStock" placeholder="Max Stock" />
            </div>
            <div class="col-3">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    
    @if (Model.Products != null)
    {
        <table class="table table-bordered table-striped" style="margin-top: 20px;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Quantity In Stock</th>
                <th>Quantity Per Unit</th>
            </tr>
            @foreach (Product product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.UnitPrice.ToString("C")</td>
                    <td>@product.QuantityInStock</td>
                    <td>@product.QuantityPerUnit</td>
                </tr>
            }
        </table>
    }
</div>
        
</body>
</html>